.btn{
    height: 55px;
    
}

a{
    color: rgb(160, 82, 233);
    text-decoration: none;
    

}



@media only screen and (max-width: 768px) {
    .btn{
    margin:0px 10px;
    }
    }

.cnmistedi{
    
    background-image: url(foto/5172214.jpg)
}

.beyza-button:hover{
    border-color: hotpink;
    border-width: 3px;
    background-color: rgb(255, 247, 254) ;
    color: hotpink;
    
  }

.row1{
    height: 500px;
}

.profile-img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    
    
}

.col p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 35px;
    font-family: "Rouge Script";
    color: rgb(255, 42, 149);
}



    



.beyza-button{
    border-radius: 35px;
    border-style: solid; 
    border-color: rgba(252, 131, 189, 0.56);
    background-color: rgb(255, 247, 254);
    color: rgb(58, 79, 122);
    font-family: Courgette;
    font-size: 17px;
    transition: all .10s;
    margin: 10px; 
    padding: 0.8rem;
    border: 1px solid rgba(252, 131, 189, 0.56);
}

.yazi{
    text-align: center;
    text-decoration: none;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sinan{
    height: 30px;
    padding-top: 3px;
    padding-left: 5px;
}


  
  